.container {
    box-sizing: border-box;
    border: 1px solid rgb(183, 14, 143);
    height: 300px;
    width: 500px;
    background-image: url(https://i.pinimg.com/736x/27/6e/2f/276e2fbeba573996067e7906827cb37b.jpg);
    background-size: contain;
    border-radius: 5px;
    padding: 15px;
}

#mama {
    height: 200px;
    position: absolute;
    margin-left: 450px;
    margin-top: 140px;
}

.container2 {
    border: 1px dashed rgb(119, 118, 118);
    width: 100%;
    height: 100%;
    padding: 2px;
    border-radius: 5px;
    display: flex;
    gap: 2px;
    flex-direction: row;
    background: linear-gradient(0deg, rgba(218, 218, 218, 1) 0%, rgba(255, 255, 255, 1) 38%);
    box-shadow: inset 0px 0px 3px rgb(185 185 185), inset 0 0 1px 2px #ffffff;
}

#part1 {
    border: 1px solid black;
    width: 30%;
    display: flex;
    gap: 2px;
    padding: 2px;
    flex-direction: column;
}

#pfp {
    border: 1px solid black;
    height: 130px;
    background-image: url(https://i.pinimg.com/736x/dd/37/70/dd3770f7a12bb220d79db21161aa0a5b.jpg);
    background-size: contain;
    background-position: center;
    border-radius: 5px;
}
#blurb {
    border: 0px solid black;
    text-align: center;

}
#blurb h5 {
    margin: 0;
}

#part2 {
    border: 1px solid black;
    width: 70%;
}
#part1, #part2 {
    border-radius: 5px;
}
