html {
    cursor: url(https://files.catbox.moe/b19gxn.cur), auto;
    font-family: 'IPAMonaPGothic';
    background-image: url(images/aboutbg.jpg);
}

.wrap {
    margin: 3rem auto 1rem auto;
    width: fit-content;
    height: fit-content;
    border: 4px solid black;
    padding: 15px;
    background-image: url(images/mono1.jpg);
    border-radius: 5px;
    outline: 4px groove rgb(255, 255, 255);
}

.wrap2 {
    padding: 5px;
    border: 9px solid black;
    background-color: white;
    border-image: url(images/pixelborder.png) 8 fill round;
}

.wrapper {
    border: 4px double rgb(0, 0, 0);
    height: fit-content;
    width: 40em;
    border-radius: 5px;
    padding: 10px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-image: url(images/aboutbg.jpg);
    outline: 4px groove rgb(255, 255, 255);
}

.header {
    width: 100%;
    height: 5em;
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
    margin-bottom: 5px;
    background-image: url(images/nett.png);
    background-size: contain;
    outline: 4px groove rgb(255, 255, 255);
}

.top {
    height: fit-content;
    border: 1px solid rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.tleft {
    display: flex;
    flex-direction: column;
    height: fit-content;
    gap: 5px;
    width: 46%;
}

.peefpee {
    height: fit-content;
    width: fit-content;
    background-color: white;
    border: 9px solid rgba(0, 0, 0, 0);
    border-image: url(images/pixelborder.png) 8 fill round;
    border-radius: 5px;
}

.pfp {
    width: 17em;
    height: 17em;
    background-image: url(images/killer.jpg);
    background-position: center;
    border-radius: 5px;
    background-size: cover;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    -webkit-transition: all .6s ease;
    transition: all .6s ease;
}

.pfp:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    image-rendering: pixelated;
}

header {
    background-image: url(images/lacee.png);
    background-repeat: repeat;
    background-position: top center;
    width: 100%;
    height: 1em;
}

.divi {
    width: 100%;
    height: 1em;
    overflow: hidden;
}

.burb {
    border: 1px solid rgb(0, 0, 0);
    height: fit-content;
    background-image: url(images/mono1.jpg);
    background-size: contain;
    border-radius: 5px;
    padding: 5px;
    outline: 4px groove rgb(255, 255, 255);
}

.blurb {
    height: fit-content;
    background-color: white;
    border: 7px solid black;
    border-image: url(images/pixelborder.png) 8 fill round;
}

.meee {
    height: fit-content;
    border: 3px double black;
}

.meee p {
    margin: 0;
    text-align: center;
}

.tit2 {
    padding: 2px;
    font-size: 1em;
}

.tit {
    padding-top: 2px;
    text-align: center;
    font-size: 1.2em;
    margin: 0;
}

.name {
    font-family: 'White on Black';
    position: absolute;
    top: 10.8em;
    left: 8.4em;
    z-index: 2;
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
    font-size: 2.7em;
    backdrop-filter: blur(2px);
}

.name:hover {
    scale: 1.1;
    image-rendering: pixelated;
    z-index: 9;
    -webkit-transition: all .6s ease;
    transition: all .6s ease;
}

.tit3 img {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    -webkit-transition: all .6s ease;
    transition: all .6s ease;
}

.tit3 img:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    scale: 1.1;
    image-rendering: pixelated;
    z-index: 9;
}

.tright {
    width: 54%;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0);
}

.fullme {
    height: 100%;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    background-image: url(images/mono1.jpg);
    background-size: contain;
    outline: 4px groove rgb(255, 255, 255);
}

.meee2 {
    height: fit-content;
    width: fit-content;
    background-color: white;
    border-top-right-radius: 25%;
    border: 7px solid black;
    border-image: url(images/pixelborder.png) 8 fill round;
}

.me {
    border: 3px double black;
    height: 93%;
    width: 18em;
    border-top-right-radius: 25%;
    background-color: #ffffff;
    overflow: scroll;
    padding: 5px;
    overflow-x: hidden;
}

.bottom {
    height: 5em;
    border: 1px solid black;
}

.around {
    gap: 10px;
    display: flex;
    flex-direction: column;
}