* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    background-image: url(sidebanner.png);
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
}

#tracer {
    position: absolute;
    height: 300px;
    margin-left: 450px;
    margin-top: 335px;
}
#kiriko {
    position: absolute;
    height: 290px;
    margin-left: 490px;
    margin-top: 325px;
}

.container {
    border-image: url(../../images/SP-2.png) 8 fill round;
    border-width: 9px;
    height: fit-content;
    border-style: solid;
    width: fit-content;
    margin-top: 10px;
    margin-left: 10px;
    background-color: #ffffff;
    background-image: url("https://www.transparenttextures.com/patterns/grid-me.png");
    padding: 5px;
    margin-bottom: 10px;
}

.cont2 {
    width: 500px;
    border: 5px double rgb(224, 126, 28);
    outline: 2px solid rgb(237, 237, 237);
    height: 600px;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

#banner {
    border: 1px dashed rgb(255, 151, 46);
    height: 100px;
    padding: 10px;
    border-radius: 5px;
    background-image: url(https://i.pinimg.com/736x/8a/10/77/8a10777b42133b599a25b2836185b80b.jpg);
    background-size: contain;
}

#banher {
    border: 1px solid rgb(174, 174, 174);
    height: 100%;
    border-radius: 5px;
    background: linear-gradient(0deg, rgba(218, 218, 218, 1) 0%, rgba(255, 255, 255, 1) 38%);
    box-shadow: inset 0px 0px 3px rgb(185 185 185), inset 0 0 1px 2px #ffffff;
}

#logo {
    height: 200px;
    margin-top: -60px;
    margin-left: -50px;
    z-index: 5;
}
#logo2 {
    height: 50px;
    position: absolute;
    margin-top: 15px;
    margin-left: -38px;
    filter: drop-shadow(0px 0px 1px #000000);

}

#middle {
    height: 100px;
}