*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

html {
    font-family: 'IPAMonaPGothic';
    background-image: url(../images/nett.png);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 800px 300px;
    background-attachment: fixed;
}


/* scrollbar */
::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}
/* scrollbar end */
/* Content */

#pagedoll {
    z-index: 500;
    position: absolute;
    margin-top: 32.4em;
    margin-left: 70em;
    transform: scaleX(-1);
    height: 500px;
}

#killy {
    z-index: 500;
    position: absolute;
    margin-top: 52em;
    height: 180px;
    margin-left: 43em;
}

#pale {
    position: absolute;
    z-index: 0;
    margin-left: 730px;
    transform: rotate(20deg);
    margin-top: 50px;
    height: 90px;
}
#trans {
    position: absolute;
    z-index: 0;
    height: 160px;
    margin-left: 700px;
    transform: rotate(10deg);
    margin-top: 80px;
}

.container1 {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(255, 255, 255);
    margin-left: 30px;
    border-image: url(../images/SP-2.png) 8 fill round;
    border-width: 9px;
    padding: 1px;
    width: fit-content;
    border-radius: 15px;
    border-style: solid;
    z-index: 5;
    position: relative;
    height: fit-content;
}

.container2 {
    border: 1px dashed #dde2c6;
    height: fit-content;
    border-radius: 5px;
    outline: 3px double #bbc5aa;
    display: flex;
    width: 680px;
    padding: 5px;
    flex-direction: column;
}

/* header */

.header {
    height: 100px;
    border: 3px double rgb(0, 0, 0);
    width: 100%;
    border-right: none;
    border-left: none;
    display: flex;
    flex-direction: row;
    background-color: black;
    background-image: url(../images/killybanner.png);
    background-size: 400px 100px;
    background-repeat: no-repeat;
    background-position-x: right;
    z-index: 1;
}

#logo {
    height: 50px;
    margin-top: 45px;
    padding: 0;
    border: 0px solid black;
}

#tag {
    margin-top: 65px;
    border: 1px solid rgb(128, 128, 128);
    color: black;
    border-radius: 5px;
    height: 25px;
    margin-right: 5px;
    width: 250px;
    overflow: hidden;
    white-space: nowrap;
    backdrop-filter: blur(2px);
    display: flex;
    flex-direction: row;
    background: linear-gradient(0deg, rgba(218, 218, 218, 1) 0%, rgba(255, 255, 255, 1) 38%);
    box-shadow: inset 0px 0px 3px rgb(185 185 185), inset 0 0 1px 2px #ffffff;
}

#tag div {
    animation: marq 15s linear infinite;
    margin-left: 50px;
    position: relative;
    z-index: 1;
}

#clap {
    border: 1px solid rgba(0, 0, 0, 0);
    position: relative;
    z-index: 2;
    margin-top: 1px;
}

/* header end */
/* main content */

.mainbody {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.top1 {
    display: flex;
    flex-direction: row;
    border: 1px solid rgba(0, 0, 0, 0);
    height: fit-content;
    gap: 5px;
}

/* nav */

.nav {
    border: 1px solid black;
    width: 30%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    background-image: url(../images/mono1.jpg);
    background-size: auto;
    box-shadow: inset #000000 0px 5px 3px -3px, inset white 0px 0px 5px, inset #000000 0px 0px 5px;
}

.title {
    height: 25px;
    border-bottom: 1px solid black;
    border-bottom: 1px dashed;
    margin-left: 5px;
    margin-right: 5px;
    text-align: end;
    border-left: none;
    border-right: none;
    font-family: 'White on Black';
    font-size: larger;
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
}
.nav li {
    list-style: none;
    border: 1px solid rgb(37, 37, 37);
    height: 25px;
    padding-left: 5px;
    color: white;
    line-height: 25px;
    font-family: "Irish Grover", system-ui;
    margin: 2px;
    backdrop-filter: blur(3px);
    background: rgba(0, 0, 0, 0.692);
    box-shadow: inset rgb(0, 0, 0) 0px 5px 3px -3px, rgb(0, 0, 0) inset 0px 0px 5px, white inset 0px 0px 5px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.nav li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 14px;
    display: block;
    width: 100%;
    height: 100%;
}

.links {
    display: none;
}
.link {
    display: flex;
    align-items: center;
    padding: 3px;
    text-decoration: none;
    font-size: 12px;
    letter-spacing: 2px;
    gap: 5px;
    text-transform: uppercase;
    height: 20px;
}
.dropdown:hover .links {
    display: flex;
    flex-direction: column;
    width: -webkit-fill-available;
    margin: 2px;
    border: 1px solid;
    border-radius: 3px;
    background: white;
}

#guestbook1 {
    height: 80px;
    text-align: center;
    overflow: hidden;
    align-content: center;
    background-image: url(../images/guestbook.png);
    background-size: 120px 80px;
}

/* nav */
/* top right */

.blurb {
    height: 100%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    width: 80%;
    display: flex;
    gap: 5px;
    flex-direction: column;
    background-image: url(../images/ghosts.png);
    background-size: auto;
    box-shadow: inset #000000 0px 5px 3px -3px, inset white 0px 0px 5px, inset #000000 0px 0px 5px;
}

.btop {
    height: 180px;
    width: 350px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    z-index: 1;
    position: relative;
    background: linear-gradient(0deg, rgba(218, 218, 218, 1) 0%, rgba(255, 255, 255, 1) 38%);
    box-shadow: inset 0px 0px 3px rgb(185 185 185), inset 0 0 1px 2px #ffffff;
    overflow: hidden;
}
#killy2 {
    float: left;
    shape-outside: url(../images/killy.png);
    height: 180px;
    shape-margin: 5px;
}
.btop p {
    font-size: 12px;
    font-family: 'IPAMonaPGothic';
}

#ballchain {
    background-image: url(../images/piano.gif);
    background-repeat: no-repeat;
    background-size: contain;
}

#box {
    display: flex;
    flex-direction: column;
    padding: 5px;
    font-family: "Irish Grover", system-ui;
}

#pod {
    height: 100%;
    width: 340px;
}
#vid {
    position: absolute;
    z-index: 500;
    margin-top: -147px;
    margin-left: 20px;
    height: 125px;
    width: 160px;
    
}
#vidtit {
    top: 320px;
    left: 145px;
    z-index: 500;
    position: absolute;
}

.update {
    width: 35%;
    border: 0px solid rgb(0, 0, 0);
    border-radius: 5px;
    display: flex;
    gap: 2px;
    flex-direction: column;
    
}

h5 {
    font-family: 'White on Black';
    position: absolute;
    top: 110px;
    font-size: large;
    left: 550px;
    z-index: 5;
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
}

.updates {
    height: 197px;
    border: #606060 1px solid;
    overflow-y: scroll;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-image: url(../images/cmIKu.jpeg);
    background-size: 152px 184.5px;
}

.item {
    border: 1px solid black;
    padding: 2px;
    border-radius: 5px;
    font-size: small;
    font-family: 'IPAMonaPGothic';
    background: linear-gradient(0deg, rgba(218, 218, 218, 1) 0%, rgba(255, 255, 255, 1) 38%);
    box-shadow: inset 0px 0px 3px rgb(185 185 185), inset 0 0 1px 2px #ffffff;
}

.item b::before {
    content: url(../images/pixels/notes.webp);
    margin-right: 2px;
}

.divi {
    border: 0px solid black;
    height: 12px;
    background-image: url(../images/divider.png);
    background-position: center;
    background-size: cover;
}

#button {
    border: 1px solid rgb(87, 87, 87);
    border-radius: 5px;
    padding: 2px;
    display: flex;
    flex-direction: column;
    height: 80px;
    overflow: hidden;
    font-family: 'IPAMonaPGothic';
    background: linear-gradient(0deg, rgba(218, 218, 218, 1) 0%, rgba(255, 255, 255, 1) 38%);
    box-shadow: inset 0px 0px 3px rgb(185 185 185), inset 0 0 1px 2px #ffffff;
}

#two {
    width: 100%;
    border: 1px solid rgb(188, 188, 188);
    overflow: hidden;
    padding: 5px;
    height: 66px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
}
textarea {
    width: 100%;
    height: 100%;
    resize: none;
    font-family: 'IPAMonaPGothic';
    line-height: 9px;
    margin: 0;
    padding: 0;
}

#status {
    border: 1px solid black;
    height: 95px;
    margin-top: 2px;
    padding: 2px;
    background-image: url(../images/scape.jpg);
    background-size: contain;
    border-radius: 5px;
}
#stat {
    border: 1px solid rgb(149, 149, 149);
    height: 80%;
    border-radius: 5px;
    background: linear-gradient(0deg, rgba(218, 218, 218, 1) 0%, rgba(255, 255, 255, 1) 38%);
    box-shadow: inset 0px 0px 3px rgb(185 185 185), inset 0 0 1px 2px #ffffff;
}
#statuscafe-username {
    font-family: 'IPAMonaPGothic';
    font-size: 12px;
    color: white;
    margin-bottom: 8px;
    font-weight: bold;
    height: 10px;
}

#statuscafe-username a {
    text-decoration: none;
    color: white;
    text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
}

#statuscafe-content {
    padding: 3px;
}

.stamps {
    margin-top: 2px;
    overflow: hidden;
    height: fit-content;
    border: 0px solid black;
}
.stamps div {
    display: flex;
    flex-direction: row;
    gap: 5px;
    animation: stamps 30s linear 0s 1 normal none;
    animation-iteration-count: infinite;
}
.stamps div img {
    height: 40px;
    filter: grayscale(1);
}

.mid {
    border: 0px solid black;
    margin-top: 5px;
    height: 390px;
    display: flex;
    gap: 5px;
    flex-direction: row;
}

#left {
    border: 0px solid black;
    width: 60%;
    display: flex;
    flex-direction: column;
}

#neighbor {
    border: 1px dashed black;
    padding: 5px;
    height: 150px;
    width: 100%;
    border-radius: 5px;
    display: flex;
    filter: grayscale(1);
    flex-direction: row;
    background-image: url(../images/mono1.jpg);
    background-size: cover;
    box-shadow: inset #000000 0px 5px 3px -3px, inset white 0px 0px 5px, inset #000000 0px 0px 5px;
}
#ntit {
    position: absolute;
    z-index: 5;
    left: 0px;
    top: 540px;
    font-size: 30px;
}
#neighbor p {
    margin-top: 15px;
    border: 1px solid rgb(140, 140, 140);
    border-radius: 5px;
    width: 100%;
    padding: 5px;
    white-space: nowrap;
    overflow: scroll;
    overflow-x: hidden;
    background: linear-gradient(0deg, rgba(218, 218, 218, 1) 0%, rgba(255, 255, 255, 1) 38%);
    box-shadow: inset 0px 0px 3px rgb(185 185 185), inset 0 0 1px 2px #ffffff;
}

.split2 {
    border: 0px solid black;
    margin-top: 5px;
    height: 235px;
    display: flex;
    flex-direction: row;
    gap: 2px;
    width: 100%;
}

#fanl {
    border: 0px solid black;
    width: 140px;
    overflow: scroll;
    overflow-x: hidden;
}

#fltit {
    left: 0;
    top: 39em;
}
#fanl p {
    margin-top: 15px;
    filter: grayscale(1);
}

#feature {
    border: 0px solid black;
    width: 90%;
    display: flex;
    gap: 5px;
    flex-direction: column;
}

.fpage {
    height: 35%;
    border: 1px solid rgb(150, 150, 150);
    padding: 3px;
    border-radius: 5px;
    background-image: url(https://i.pinimg.com/1200x/d1/cc/23/d1cc239d3d76789fab3ea4dc2280b148.jpg);
    background-size: contain;
}
.fpage p {
    background: linear-gradient(0deg, rgba(218, 218, 218, 1) 0%, rgba(255, 255, 255, 1) 38%);
    box-shadow: inset 0px 0px 3px rgb(185 185 185), inset 0 0 1px 2px #ffffff;
    border-radius: 5px;
    border: 1px solid rgb(98, 98, 98); 
    height: 100%;
    padding: 2px;
}

#right {
    width: 50%;
    border: 0px solid black;
    display: flex;
    gap: 5px;
    flex-direction: column;
}

#webrings {
    height: 40%;
    border-radius: 5px;
    border: 1px dashed rgb(120, 120, 120);
    text-align: center;
    overflow-y: scroll;
    background: linear-gradient(0deg, rgba(218, 218, 218, 1) 0%, rgba(255, 255, 255, 1) 38%);
    box-shadow: inset 0px 0px 3px rgb(185 185 185), inset 0 0 1px 2px #ffffff;
    padding: 5px;
}

#wrtit {
    top: 22.5em;
    font-size:x-large;
}

#split2 {
    border: 0px solid black;
    height: 60%;
    display: flex;
    gap: 2px;
    flex-direction: row;
}

#part1, #part2 {
    border: 1px solid black;
    width: 50%;
    border-radius: 5px;
    padding: 5px;
    background-size: contain;
    background-image: url(https://i.pinimg.com/736x/20/f1/79/20f17913086deae15e6379fa339157d1.jpg);
}

#part1 li {
    list-style: none;
}
#part1 li::before {
    content: url(../images/pixels/notes.webp);
}
#list {
    border: 1px solid rgb(134, 134, 134);
    height: 100%;
    overflow-y: scroll;
    padding: 5px;
    background: linear-gradient(0deg, rgba(218, 218, 218, 1) 0%, rgba(255, 255, 255, 1) 38%);
    box-shadow: inset 0px 0px 3px rgb(185 185 185), inset 0 0 1px 2px #ffffff;
    border-radius: 5px;
}

#twoie {
    border: 1px solid rgb(134, 134, 134);
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: 5px;
    background: linear-gradient(0deg, rgba(218, 218, 218, 1) 0%, rgba(255, 255, 255, 1) 38%);
    box-shadow: inset 0px 0px 3px rgb(185 185 185), inset 0 0 1px 2px #ffffff;
}

.footer {
    border: 1px solid rgb(134, 134, 134);
    padding: 5.1px;
    margin-top: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
    background: linear-gradient(0deg, rgba(218, 218, 218, 1) 0%, rgba(255, 255, 255, 1) 38%);
    box-shadow: inset 0px 0px 3px rgb(185 185 185), inset 0 0 1px 2px #ffffff;
}

