html {
    background-color: black;
    font-family: 'IPAMonaPGothic';
    cursor: url(https://files.catbox.moe/b19gxn.cur), auto;
}


body {
    overflow: hidden;
    opacity: 0;
    transition: opacity 1s;
}

body.fade-in {
        opacity: 1;
}

.container {
    position: absolute;
    top: -10em;
    left: 5em;
    height: 75em;
    z-index: 0;
    width: 75em;
}

.gradient {
    height: 100%;
    width: 100%;
    position: inherit;
    background-image: linear-gradient(to top, black, rgba(0, 0, 0, 0.711), transparent);
}  

.killy {
    height: 100%;
    width: 100%;
    background: 
        /* Halftone filter using SVG data URI with even smaller dots for a more realistic halftone effect */
        url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='4' height='4'><circle cx='2' cy='2' r='0.8' fill='black' opacity='0.35'/></svg>") 0 0 / 4px 4px repeat,
        url("../images/kkilly.png") 0 0 / contain no-repeat;
}


.box {
    width: fit-content;
    height: fit-content;
    padding: 15px;
    border-radius: 5px;
    border: 4px solid black;
    outline: 4px groove rgb(255, 255, 255);
    background-image: url(../images/mono1.jpg);
}

.box2 {
    padding: 5px;
    border: 9px solid black;
    background-color: white;
    border-image: url(../images/pixelborder.png) 8 fill round;
}

.intro {
    height: fit-content;
    border: 4px double black;
    border-radius: 5px;
    width: 395px;
    padding: 5px;
    text-align: center;
}

span {
    font-family: 'White on Black';
    font-size: 1.5em;
}

.logo {
    margin-top: 5px;
}

.container1 {
    position: absolute;
    z-index: 1;
    left: 40em;
    top: 100px;
}

.footer {
    margin-top: 5px;
    text-align: center;
    padding: 5px;
}